@model IEnumerable<Vextech_APP.ViewModels.ProductModels.ProductViewModel>
@{
    ViewData["Title"] = "Welcome";
}

<header>
    <link href="~/css/index.css" rel="stylesheet" />
</header>

<div>
    <form class="d-flex">
	    <input class="form-control me-2" type="text" placeholder="Search">
	    <button class="btn btn-primary" type="button">Search</button>
    </form>
</div>

<h1>Newest products</h1>
<div class="container">
    <div class="row flex-row flex-nowrap overflow-auto" style="overflow-y:hidden">
    @foreach (var item in Model) {
        <div class="card col-2">
            <a class="nav-link" href="@Url.ActionLink("ProductDetails", "App", new { id = item.ID }, null )">
                <img src="~/img/@item.Images[0].PictureName" alt="@Html.DisplayFor(modelItem => item.Name)" style="width:100%">
            </a>
            <h1><a class="price" style="text-decoration: none;" href="@Url.ActionLink("ProductDetails", "App", new { id = item.ID }, null )">@Html.DisplayFor(modelItem => item.Name)</a></h1>
                @if (item.Release_date != null)
                {
                    <p>Release Date: @Html.DisplayFor(modelitem => item.Release_date)</p>
                }
            <div class="mt-auto">
                <p class="price">@Html.DisplayFor(modelItem => item.Price)€</p>
                <button>Add to Cart</button>
            </div>
            
        </div>
    }
    </div>
</div>
<br />

<h1>Best rated products</h1>
<div class="container">
    <div class="row flex-row flex-nowrap overflow-auto" style="overflow-y:hidden">
    @foreach (var item in Model) {
        <div class="card col-2">
            <img src="~/img/@item.Images[0].PictureName" alt="@Html.DisplayFor(modelItem => item.Name)" style="width:100%">
            <h1><a class="price" style="text-decoration: none;" href="@Url.ActionLink("ProductDetails", "App", new { id = item.ID }, null )">@Html.DisplayFor(modelItem => item.Name)</a></h1>
                @if (item.Release_date != null)
                {
                    <p>Release Date: @Html.DisplayNameFor(model => model.Release_date)</p>
                }
            <div class="mt-auto">
                <p class="price">@Html.DisplayFor(modelItem => item.Price)€</p>
                <button>Add to Cart</button>
            </div>
            
        </div>
    }
    </div>
</div>
<br />

<h1>Products</h1>
<div class="container">
    <div class="row flex-row flex-nowrap overflow-auto" style="overflow-y:hidden">
    @foreach (var item in Model) {
        <div class="card col-2">
            <img src="~/img/@item.Images[0].PictureName" alt="@Html.DisplayFor(modelItem => item.Name)" style="width:100%">
            <h1><a class="price" style="text-decoration: none;" href="@Url.ActionLink("ProductDetails", "App", new { id = item.ID }, null )">@Html.DisplayFor(modelItem => item.Name)</a></h1>
                @if (item.Release_date != null)
                {
                    <p>Release Date: @Html.DisplayNameFor(model => model.Release_date)</p>
                }
            <div class="mt-auto">
                <p class="price">@Html.DisplayFor(modelItem => item.Price)€</p>
                <button>Add to Cart</button>
            </div>
            
        </div>
    }
    </div>
</div>
<br />